#root {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.selector {
  /* position: absolute; */
  /* left: 0; */
}
.txtarea {
  /* position: absolute; */
  /* right: 0; */
}
.adjust_btn {
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}
.colorpicker::part(trigger) {
  /* width: var(--sl-input-height-small);
  height: var(--sl-input-height-small);
  border-radius: var(--sl-border-radius-circle); */
  width: 25px;
  height: 25px;
  /* border-radius: 0; */
}

[popover] {
  position: relative;
}

#image0 {
  cursor: pointer;
}
